{% extends 'base.html' %}
{% load static %}
{% block title %}News Detail{% endblock title %}
{% block content %}


	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/2.jpg' %}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white">
						<h2>{{ news.title|truncatewords:5 }}</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->


	<!-- Page section -->
	<section class="page-section single-blog-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-thumb set-bg" data-setbg="{{ news.image.url }}">
						<div class="cata new">{{ news.category }}</div>
						<div class="rgi-extra">
							<div class="rgi-star"><img src="{% static 'img/icons/star.png' %}" alt=""></div>
							<div class="rgi-heart"><img src="{% static 'img/icons/heart.png' %}" alt=""></div>
						</div>
					</div>
					<div class="blog-content">
						<h3>{{ news.title }}</h3>
						<a href="" class="meta-comment">3 comment</a>
						<p>{{ news.content }}</p>
						{% for n in news.newsimage_set.all %}
                            <div class="col-md-4">
                                <img src="{{ n.image.url }}" class="img-fluid" style="height: 100px; object-fit: contain;">
                            </div>
                        {% endfor %}
					</div>
					<div class="comment-warp">
						<h4 class="comment-title"><span>Total:{{ news.comment_set.count }}  </span>Comments</h4>
						<ul class="comment-list">
							{% for comment in news.comment_set.all %}
							<li>
								<div class="comment mt-4">
									<div class="comment-avator set-bg" data-setbg="{% static 'img/authors/1.jpg' %}"></div>
									<div class="comment-content">
										<h5>{{ comment.name }} <span>{{ comment.created }}</span></h5>
										<p>{{ comment.content }}</p>
										<a href="#formComment" class="reply" onclick="addComment('{{ comment.name }}', '{{ comment.id }}')">Reply</a>
									</div>
								</div>
								<div class="comment mt-5" id="comments-list">
								{% for com in comment.comment_set.all %}
									<div class="comment-avatar set-bg" data-setbg="{% static 'img/authors/1.jpg' %}"></div>
									<div class="comment-content">
										<h5>{{ com.name }} <span>{{ com.created }}</span></h5>
										<p>{{ com.content }}</p>
										<a href="#formComment" class="reply" onclick="addComment('{{ comment.name }}', '{{ comment.id }}')">Reply</a>
									</div>
								{% endfor %}
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="comment-form-warp">
						<h4 class="comment-title">Leave Your Comment</h4>
						<form action="{% url 'comment_news' news.id %}" class="comment-form" method="post" id="formComment">
							{% csrf_token %}
							<input type="hidden" name="parent" id="contactparent" value="">
							<div class="row">
								<div class="col-md-6">
									<input class="form-control border" id="contactname" type="text" placeholder="Your name" name="name">
								</div>
								<div class="col-md-6">
									<input class="form-control border" id="contactemail" type="email" placeholder="Email" name="email">
								</div>
								<div class="col-lg-12">
									<textarea class="form-control border" id="contactcomment" rows="5" placeholder="Message" name="content"></textarea>
									<button class="site-btn btn-sm" id="send-comment">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- sidebar -->
				<div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
					<!-- widget -->
					<div class="widget-item">
						<form class="search-widget">
							<input type="text" placeholder="Search">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- widget -->
					<div class="widget-item">
						<h4 class="widget-title">Latest Comments</h4>
						<div class="latest-blog">
                            {% for comment in comments %}
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{% static 'img/latest-blog/1.jpg' %}"></div>
								<div class="lb-content">
									<div class="lb-date">{{ comment.created }}</div>
									<p>{{ comment.content|truncatewords:10 }}</p>
									<a href="#" class="lb-author">By {{ comment.name }}</a>
								</div>
							</div>
                            {% endfor %}
						</div>
					</div>
					<!-- widget -->
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->
<script>
	function addComment(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${name}, `
        }
</script>
{% endblock content %}
